@using ConectDB.Models;
@model ControlFalla;
@{
    string? title = ViewData["Title"] as string;
    Layout = "~/Views/Shared/_Layout_ControlReparaciones.cshtml";
    var usuarioModel = ViewData["UsuarioModel"] as UsuarioModel;
}
<div class="container-fluid">
    <br />
    <div class="row">
        <div class="col-md-2">
            <ul class="nav flex-column border tamancla">
                <li class="nav-item">
                    <a asp-action="Index" asp-controller="ControlReparaciones" asp-route-Token="@usuarioModel.Token" asp-route-cveEmp="@usuarioModel.Data[0].EmpS[0].cveEmp" asp-route-idsub="@usuarioModel.idsub" class="nav-link activo seccion carga">Indicadores</a>
                </li>
            </ul>
        </div>
        <div class="col-md-10">
            <div class="container">
                <br />
                <div class="row-cols-auto text-lg-start">
                    <h3>@ViewData["Title"]</h3>
                    <input type="hidden" value="@TempData["Mensaje"]" id="mensaje" />
                    <input type="hidden" value="@TempData["guardado"]" id="guarda" />
                </div>
                <div class="row justify-content-start align-items-start">
                    <div class="col-12">
                        <div class="container">
                            <div class="row justify-content-center">
                                @foreach (var k in Model.SolicitudesGenerales)
                                {
                                    @if (k.Descripcion == "Total General")
                                    {
                                        <div class="col-md-4">
                                            <div class="card" style="background-color: #82E0AA; width: 18rem;">
                                                <div class="card-body">
                                                    <h5 class="card-title text-center">@k.Descripcion</h5>
                                                    <h4 class="card-text text-center">@k.Cantidad </h4>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    @if (k.Descripcion == "Total_Unidad")
                                    {
                                        <div class="col-md-4">
                                            <div class="card" style="background-color: #F0B27A; width: 18rem;">
                                                <div class="card-body">
                                                    <h5 class="card-title text-center">@k.Descripcion</h5>
                                                    <h4 class="card-text text-center">@k.Cantidad </h4>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    @if (k.Descripcion == "Total_Remolque")
                                    {
                                        <div class="col-md-4">
                                            <div class="card" style="background-color: #2E86C1; width: 18rem;">
                                                <div class="card-body">
                                                    <h5 class="card-title text-center">@k.Descripcion</h5>
                                                    <h4 class="card-text text-center">@k.Cantidad </h4>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                            @foreach (var s in Model.Solicitudes)
                            {
                                @if (s.ClaveEstatus == 1 && s.ClaveTipoTicket == 2)
                                {
                                    <input type="hidden" class="form-control" value="@s.Estatus" id="Name-Esta-1" />
                                    <input type="hidden" class="form-control" value="@s.Cantidad" id="Esta-1" />
                                }
                                @if (s.ClaveEstatus == 2 && s.ClaveTipoTicket == 2)
                                {
                                    <input type="hidden" class="form-control" value="@s.Estatus" id="Name-Esta-2" />
                                    <input type="hidden" class="form-control" value="@s.Cantidad" id="Esta-2" />
                                }
                                @if (s.ClaveEstatus == 3 && s.ClaveTipoTicket == 2)
                                {
                                    <input type="hidden" class="form-control" value="@s.Estatus" id="Name-Esta-3" />
                                    <input type="hidden" class="form-control" value="@s.Cantidad" id="Esta-3" />
                                }
                                @if (s.ClaveEstatus == 4 && s.ClaveTipoTicket == 2)
                                {
                                    <input type="hidden" class="form-control" value="@s.Estatus" id="Name-Esta-4" />
                                    <input type="hidden" class="form-control" value="@s.Cantidad" id="Esta-4" />
                                }
                                @if (s.ClaveEstatus == 5 && s.ClaveTipoTicket == 2)
                                {
                                    <input type="hidden" class="form-control" value="@s.Estatus" id="Name-Esta-5" />
                                    <input type="hidden" class="form-control" value="@s.Cantidad" id="Esta-5" />
                                }

                                @if (s.ClaveEstatus == 1 && s.ClaveTipoTicket == 1)
                                {
                                    <input type="hidden" class="form-control" value="@s.Estatus" id="Name-Esta-uni-1" />
                                    <input type="hidden" class="form-control" value="@s.Cantidad" id="Esta-uni-1" />
                                }
                                @if (s.ClaveEstatus == 2 && s.ClaveTipoTicket == 1)
                                {
                                    <input type="hidden" class="form-control" value="@s.Estatus" id="Name-Esta-uni-2" />
                                    <input type="hidden" class="form-control" value="@s.Cantidad" id="Esta-uni-2" />
                                }
                                @if (s.ClaveEstatus == 3 && s.ClaveTipoTicket == 1)
                                {
                                    <input type="hidden" class="form-control" value="@s.Estatus" id="Name-Esta-uni-3" />
                                    <input type="hidden" class="form-control" value="@s.Cantidad" id="Esta-uni-3" />
                                }
                                @if (s.ClaveEstatus == 4 && s.ClaveTipoTicket == 1)
                                {
                                    <input type="hidden" class="form-control" value="@s.Estatus" id="Name-Esta-uni-4" />
                                    <input type="hidden" class="form-control" value="@s.Cantidad" id="Esta-uni-4" />
                                }
                                @if (s.ClaveEstatus == 5 && s.ClaveTipoTicket == 1)
                                {
                                    <input type="hidden" class="form-control" value="@s.Estatus" id="Name-Esta-uni-5" />
                                    <input type="hidden" class="form-control" value="@s.Cantidad" id="Esta-uni-5" />
                                }
                            }

                            <input type="hidden" class="form-control" value="" id="Esta-Total-1" />
                            <input type="hidden" class="form-control" value="" id="Esta-Total-2" />
                            <input type="hidden" class="form-control" value="" id="Esta-Total-3" />
                            <input type="hidden" class="form-control" value="" id="Esta-Total-4" />
                            <input type="hidden" class="form-control" value="" id="Esta-Total-5" />
                            <div clas="row">
                                <div class="col-3"></div>
                                <div class="col-6">
                                    <canvas id="barChart" width="400" height="400"></canvas>
                                </div>
                                <div class="col-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
