@using ConectDB.Models;
@model ConectDB.Models.AltaExpressModel;
@{
    Layout = "~/Views/Shared/_Layout_AltaExpres.cshtml";
    var usuarioModel = ViewData["UsuarioModel"] as UsuarioModel;
    int totalDocs = Model.TBCAT_DoctoRecibidos.Count;
    int numTablas = totalDocs >= 3 ? 3 : 1;
    int docsPorTabla = (int)Math.Ceiling((double)totalDocs / numTablas);
}
<div class="container-fluid mt-5">
    <div id="divguard">
        <form method="post" class="form" id="solicitude" asp-action="Guardar" asp-controller="AltaExpress" onsubmit="habilitarCamposDeshabilitados()">
            <div class="row">
                <div class="col-3">
                    <label for="CveTipoEmp" class="form-label">Tipo Trabajador:</label>
                    <select class="form-select form-select-sm" id="CveTipoEmp" name="CveTipoEmp" asp-for="CveTipoEmp">
                        <option value="0">[SELECIONA]</option>
                        @foreach (var Tt in Model.TBCAT_TipoTrabajador)
                        {
                            <option value="@Tt.CveTipoEmp">@Tt.Descripcion</option>
                        }
                    </select>
                    <span asp-validation-for="CveTipoEmp" class="text-danger"></span>
                </div>
                <div class="col-6 text-center align-content-center">
                    <h1>Alta de Personal Express</h1>
                    <input type="hidden" value="@TempData["Mensaje"]" id="mensaje" />
                    <input type="hidden" value="@TempData["guardado"]" id="guarda" />
                    <input type="hidden" value="@TempData["status"]" id="status" />
                    <input type="hidden" value="@usuarioModel.Data[0].EmpS[0].cveEmp" id="cveEmp" name="cveEmp" />
                    <input type="hidden" value="@usuarioModel.Token" id="XT" name="XT" />
                    <input type="number" id="ValidaBTN" name="ValidaBTN" asp-for="ValidaBTN" class="ocultar" />
                    <span asp-validation-for="ValidaBTN" class="text-danger"></span>
                </div>
                <div class="col-3 align-content-end text-end">
                    <div class="container border border-primary rounded p-3">
                        <div class="row">
                            <div class="col-6">
                                <h7>#Solicitud:</h7>
                            </div>
                            <div class="col-6">
                                <h7>@Model.TBCT_ProxFol[0].proxfol</h7>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="container">
                    <div class="row border border-primary rounded text-center">
                        <h5>Datos Personales</h5>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <label for="SelPais" class="form-label form-label-sm">Nacionalidad:</label>
                            <select class="form-select form-select-sm" id="SelPais" name="SelPais" asp-for="SelPais">
                                <option value="0">[SELECIONA]</option>
                                @foreach (var pa in Model.TBCAT_Pais)
                                {
                                    <option value="@pa.ClavePais">@pa.Descripcion</option>
                                }
                            </select>
                            <span asp-validation-for="SelPais" class="text-danger"></span>
                        </div>
                        <div class="col-2">
                            <label for="ApPaterno" class="form-label form-label-sm">Apellido Paterno:</label>
                            <input type="text" class="form-control form-control-sm text-uppercase" id="ApPaterno" placeholder="Apellido Paterno:" name="ApPaterno" asp-for="ApPaterno" />
                            <span asp-validation-for="ApPaterno" class="text-danger"></span>
                        </div>
                        <div class="col-2">
                            <label for="ApMaterno" class="form-label form-label-sm">Apellido Materno:</label>
                            <input type="text" class="form-control form-control-sm text-uppercase" id="ApMaterno" placeholder="Apellido Materno:" name="ApMaterno" asp-for="ApMaterno" />
                            <span asp-validation-for="ApMaterno" class="text-danger"></span>
                        </div>
                        <div class="col-2">
                            <label for="Nombre" class="form-label form-label-sm">Nombre(s):</label>
                            <input type="text" class="form-control form-control-sm text-uppercase" id="Nombre" placeholder="Nombre(s):" name="Nombre" asp-for="Nombre" />
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>
                        <div class="col-2">
                            <label for="originario" class="form-label form-label-sm">Lugar de Nacimiento:</label>
                            <select class="form-select form-select-sm" id="originario" name="originario" asp-for="originario">
                                <option value="0">[SELECIONA]</option>
                                @foreach (var ori in Model.TBCAT_OriginarioDe)
                                {
                                    <option value="@ori.ClaveOriginario" data-entidad="@ori.Entidad">@ori.Descripcion</option>
                                }
                            </select>
                            <span asp-validation-for="originario" class="text-danger"></span>
                        </div>
                        <div class="col-2">
                            <label for="FechNac" class="form-label">Fecha Nacimiento:</label>
                            <input type="date" class="form-control form-control-sm" name="FechNac" id="FechNac" value="@Model.FechNac?.ToString("yyyy-MM-dd")" onchange="mostrarEdad()" asp-for="FechNac">
                            <span asp-validation-for="FechNac" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-2">
                            <h7>
                                <p>Sexo:</p>
                                <input class="form-check-input" type="radio" id="masculino" name="sexo" value="H" asp-for="sexo">
                                <label for="masculino">Masculino</label>
                                <br />
                                <input class="form-check-input" type="radio" id="femenino" name="sexo" value="M" asp-for="sexo">
                                <label for="femenino" class="form-check-label">Femenino</label>
                                <span asp-validation-for="sexo" class="text-danger"></span>
                        </div>
                        <div class="col-2">
                            <label for="Edad" class="form-label form-label-sm">Edad:</label>
                            <input type="number" class="form-control form-control-sm" id="Edad" placeholder="Edad:" name="Edad" asp-for="Edad" disabled />
                            <span asp-validation-for="Edad" class="text-danger"></span>
                        </div>
                        <div class="col-2">
                            <label for="EdoCivil" class="form-label col-form-label-sm">Estado Civil</label>
                            <select class="form-select form-select-sm" id="EdoCivil" name="EdoCivil" asp-for="EdoCivil">
                                <option value="0">[SELECIONA]</option>
                                @foreach (var civil in Model.TBCAT_EstadoCivil)
                                {
                                    <option value="@civil.ClaveEstaCivil">@civil.Descripcion</option>
                                }
                            </select>
                            <span asp-validation-for="EdoCivil" class="text-danger"></span>
                        </div>
                        <div class="col-2">
                            <label for="Cel" class="form-label form-label-sm">Telefono Celular:</label>
                            <input type="text" class="form-control form-control-sm" id="Cel" placeholder="Telefono Celular:" name="Cel" asp-for="Cel" />
                            <span asp-validation-for="Cel" class="text-danger"></span>
                        </div>
                        <div class="col-2">
                            <label for="Tel" class="form-label form-label-sm">Telefono:</label>
                            <input type="text" class="form-control form-control-sm" id="Tel" placeholder="Telefono:" name="Tel" asp-for="Tel" />
                            <span asp-validation-for="Tel" class="text-danger"></span>
                        </div>
                        <div class="col-2">
                            <label for="CP" class="form-label form-label-sm">CP:</label>
                            <input type="text" class="form-control form-control-sm" id="CP" placeholder="CP:" name="CP" asp-for="CP" onchange="buscarporcp()" />
                            <span asp-validation-for="CP" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-3">
                            <label for="selEstado" class="form-label form-label-sm">Estado:</label>
                            <select class="form-select form-select-sm" id="selEstado" name="selEstado" onchange="llenaMunicipio()" asp-for="selEstado" data-selected="@Model.selEstado">
                                <option value="0">[SELECIONA]</option>
                                @foreach (var est in Model.TBCAT_Estado)
                                {
                                    <option value="@est.ClaveEstado">@est.Descripcion</option>
                                }
                            </select>
                            <span asp-validation-for="selEstado" class="text-danger"></span>
                        </div>
                        <div class="col-3">
                            <label for="seleMuni" class="form-label form-label-sm">Municipio:</label>
                            <select class="form-select form-select-sm" id="seleMuni" name="seleMuni" onchange="llenacolonia()" asp-for="seleMuni" data-selected="@Model.seleMuni">
                                <option value="0">[SELECIONA]</option>
                            </select>
                            <span asp-validation-for="seleMuni" class="text-danger"></span>
                        </div>
                        <div class="col-3">
                            <label for="Colonia" class="form-label form-label-sm">Colonia:</label>
                            <select class="form-select form-select-sm" id="Colonia" name="Colonia" onchange="llenacp(event)" asp-for="Colonia" data-selected="@Model.Colonia">
                                <option value="0">[SELECIONA]</option>
                            </select>
                            <span asp-validation-for="Colonia" class="text-danger"></span>
                        </div>
                        <div class="col-3">
                            <label for="Calle" class="form-label form-label-sm">Calle:</label>
                            <input type="text" class="form-control form-control-sm text-uppercase" id="Calle" placeholder="Calle:" name="Calle" asp-for="Calle" />
                            <span asp-validation-for="Calle" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-2">
                            <label for="NumExterior" class="form-label form-label-sm"># Exterior:</label>
                            <input type="text" class="form-control form-control-sm" id="NumExterior" placeholder="# Exterior" name="NumExterior" asp-for="NumExterior" />
                            <span asp-validation-for="NumExterior" class="text-danger"></span>
                        </div>
                        <div class="col-2">
                            <label for="NumInterior" class="form-label form-label-sm"># Interior:</label>
                            <input type="text" class="form-control form-control-sm" id="NumInterior" placeholder="# Interior" name="NumInterior" />
                        </div>
                        <div class="col-2">
                            <label for="NSS" class="form-label col-form-label-sm">NSS:</label>
                            <input type="number" class="form-control form-control-sm" placeholder="Numero Seguro Social" name="NSS" id="NSS" asp-for="NSS" maxlength="11">
                            <span asp-validation-for="NSS" class="text-danger"></span>
                        </div>
                        <div class="col-3">
                            <label for="CURP" class="form-label form-label-sm">CURP:</label>
                            <input type="text" class="form-control form-control-sm text-uppercase" id="CURP" placeholder="CURP:" name="CURP" asp-for="CURP" maxlength="18" />
                            <span asp-validation-for="CURP" class="text-danger"></span>
                        </div>
                        <div class="col-3">
                            <label for="RFC" class="form-label form-label-sm">RFC:</label>
                            <input type="text" class="form-control form-control-sm text-uppercase" id="RFC" placeholder="RFC:" name="RFC" asp-for="RFC" maxlength="13" oninput="validarRFCInput()" />
                            <span asp-validation-for="RFC" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-4">
                            <div class="container">
                                <div class="row">
                                    <div class="col-8">
                                        <label for="Escol" class="form-label form-label-sm">Escolaridad:</label>
                                        <select class="form-select form-select-sm" id="Escol" name="Escol" asp-for="Escol">
                                            <option value="0">[SELECIONA]</option>
                                            @foreach (var Ecul in Model.TBCAT_Escolaridad)
                                            {
                                                <option value="@Ecul.CveEscolaridad">@Ecul.Descripcion</option>
                                            }
                                        </select>
                                        <span asp-validation-for="Escol" class="text-danger"></span>
                                    </div>
                                    <div class="col-4">
                                        <input class="form-check-input" type="checkbox" name="EscoConcluida" id="EscoConcluida" asp-for="EscoConcluida">
                                        <label class="form-check-label" for="EscoConcluida">Concluida</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <input class="form-check-input" type="checkbox" id="Reingreso" name="Reingreso" />
                            <label class="form-check-label" for="Reingreso">Reingreso</label>
                            <br />
                            <button type="button" class="btn btn-primary" onclick="ValidarReingreso()">validar Reingreso</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="container">
                    <div class="row border border-primary rounded text-center">
                        <h5>Datos Base</h5>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <label for="SeleLic" class="form-label form-label-sm">Tipo Licencia:</label>
                            <select class="form-select form-select-sm" id="SeleLic" name="SeleLic" asp-for="SeleLic">
                                <option value="0">[SELECIONA]</option>
                                @foreach (var Lic in Model.TBCAT_TipoLicencia)
                                {
                                    <option value="@Lic.CveTipoLic">@Lic.Descripcion</option>
                                }
                            </select>
                            <span asp-validation-for="SeleLic" class="text-danger"></span>
                        </div>
                        <div class="col-2">
                            <label for="NumLicen" class="form-label form-label-sm">Num Licencia:</label>
                            <input type="text" class="form-control form-control-sm" id="NumLicen" placeholder="000-0000" name="NumLicen" asp-for="NumLicen" />
                            <span asp-validation-for="NumLicen" class="text-danger"></span>
                        </div>
                        <div class="col-2">
                            <label for="VigenciaLicen" class="form-label">Vigencia:</label>
                            <input type="date" class="form-control form-control-sm" id="VigenciaLicen" name="VigenciaLicen" value="@Model.VigenciaLicen?.ToString("yyyy-MM-dd")" asp-for="VigenciaLicen" />
                            <span asp-validation-for="VigenciaLicen" class="text-danger"></span>
                        </div>
                        <div class="col-2">
                            <label for="RControl" class="form-label">R-Control:</label>
                            <input type="text" class="form-control form-control-sm text-uppercase" id="RControl" placeholder="R-Control:" name="RControl" />
                            @* <span asp-validation-for="RControl" class="text-danger"></span> *@
                        </div>
                        <div class="col-2">
                            <label for="AnoExperiencia" class="form-label">Años de Experiencia:</label>
                            <input type="number" class="form-control form-control-sm" id="AnoExperiencia" placeholder="1 año" name="AnoExperiencia" asp-for="AnoExperiencia" />
                            <span asp-validation-for="AnoExperiencia" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <div class="row ">
                        <div class="col-2">
                            <label for="ConInfonavit" class="form-label">Credito Infonavit:</label>
                            <input class="form-check-input" type="checkbox" name="ConInfonavit" id="ConInfonavit" asp-for="ConInfonavit">
                            <input type="text" class="form-control form-control-sm" id="FolInfonavit" name="FolInfonavit" placeholder="Folio Infonavit:" disabled />
                        </div>
                        <div class="col-2">
                            <label for="ConFonacot" class="form-label">Credito Fonacot:</label>
                            <input class="form-check-input" type="checkbox" name="ConFonacot" id="ConFonacot" asp-for="ConFonacot">
                            <input type="text" class="form-control form-control-sm" id="FolFonacot" name="FolFonacot" placeholder="Folio Fonacot:" disabled />
                        </div>
                        <div class="col-3">
                            <label for="AptMedi" class="form-label">Vigencia Apto Medico:</label>
                            <input type="date" class="form-control form-control-sm" id="AptMedi" name="AptMedi" value="@Model.AptMedi?.ToString("yyyy-MM-dd")" asp-for="AptMedi" />
                            <span asp-validation-for="AptMedi" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="container">
                    <div class="row border border-primary rounded text-center">
                        <h5>Datos Laborales</h5>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <label for="TipOpera" class="form-label form-label-sm">Tipo Operacion:</label>
                            <select class="form-select form-select-sm" id="TipOpera" name="TipOpera" asp-for="TipOpera" onchange="Llenasal(event)" data-selected="@Model.TipOpera">
                                <option value="0">[SELECIONA]</option>
                                @foreach (var TipOp in Model.TBCAT_TipoOp)
                                {
                                    <option value="@TipOp.ClaveTipoOperacion" data-tipo-operacion="@TipOp.ClaveTipoOperacion">@TipOp.Descripcion</option>
                                }
                            </select>
                            <span asp-validation-for="TipOpera" class="text-danger"></span>
                        </div>
                        <div class="col-3">
                            <label for="ZonTra" class="form-label form-label-sm">Zona de Trabajo:</label>
                            <select class="form-select form-select-sm" id="ZonTra" name="ZonTra" asp-for="ZonTra">
                                <option value="0">[SELECIONA]</option>
                                @foreach (var ZonTra in Model.TBCAT_ZonaTrabajo)
                                {
                                    <option value="@ZonTra.ClaveZonTra">@ZonTra.Descripcion</option>
                                }
                            </select>
                            <span asp-validation-for="ZonTra" class="text-danger"></span>
                        </div>
                        <div class="col-3">
                            <label for="Banc" class="form-label form-label-sm">Banco:</label>
                            <select class="form-select form-select-sm" id="Banc" name="Banc" asp-for="Banc">
                                <option value="0">[SELECIONA]</option>
                                @foreach (var banc in Model.TBCAT_Bancos)
                                {
                                    <option value="@banc.ClaveBanco">@banc.Descripcion</option>
                                }
                            </select>
                            <span asp-validation-for="Banc" class="text-danger"></span>
                        </div>
                        <div class="col-3">
                            <label for="selSal" class="form-label form-label-sm">Salario:</label>
                            <select class="form-select form-select-sm" id="selSal" name="selSal" asp-for="selSal" onchange="Llenasal(event)" data-selected="@Model.selSal">
                                <option value="0">[SELECIONA]</option>
                                @foreach (var sal in Model.TBCAT_SalarioPesos)
                                {
                                    <option value="@sal.ClaveSalario" data-tipo-operacion="@sal.ClaveTipoOperacion">@sal.salario</option>
                                }
                            </select>
                            <span asp-validation-for="selSal" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-2">
                            <label for="CuentaBanca" class="form-label form-label-sm">Cuenta Bancaria:</label>
                            <input type="text" class="form-control form-control-sm text-uppercase" placeholder="000000-000000-00000" id="CuentaBanca" name="CuentaBanca" asp-for="CuentaBanca" maxlength="18" />
                            <span asp-validation-for="CuentaBanca" class="text-danger"></span>
                        </div>
                        <div class="col-4">
                            <label for="selePues" class="form-label form-label-sm">Puesto:</label>
                            <select class="form-select form-select-sm" id="selePues" name="selePues" asp-for="selePues">
                                <option value="0">[SELECIONA]</option>
                                @foreach (var pues in Model.TBCAT_PuestosOperativos)
                                {
                                    <option value="@pues.ClavePuesto">@pues.Descripcion</option>
                                }
                            </select>
                            <span asp-validation-for="selePues" class="text-danger"></span>
                        </div>
                        <div class="col-6 border border-dark">
                            <h7>Experiencia</h7>
                            <div class="container">
                                <div class="row ">
                                    <div class="col-6">
                                        <input class="form-check-input" type="checkbox" name="RangoMedio" id="RangoMedio" asp-for="RangoMedio">
                                        <label class="form-check-label" for="RangoMedio">Rango Medio</label>
                                        <br />
                                        <input class="form-check-input" type="checkbox" name="Thorton" id="Thorton" asp-for="Thorton">
                                        <label class="form-check-label" for="Thorton">Torthon</label>
                                        <br />
                                        <input class="form-check-input" type="checkbox" name="Rabon" id="Rabon" asp-for="Rabon">
                                        <label class="form-check-label" for="Rabon">Rabon</label>
                                        <br />
                                        <input class="form-check-input" type="checkbox" name="Camioneta" id="Camioneta" asp-for="Camioneta">
                                        <label class="form-check-label" for="Camioneta">Camioneta</label>
                                    </div>
                                    <div class="col-6">
                                        <input class="form-check-input" type="checkbox" name="TractoSenci" id="TractoSenci" asp-for="TractoSenci">
                                        <label class="form-check-label" for="TractoSenci">Tracto Sencillo</label>
                                        <br />
                                        <input class="form-check-input" type="checkbox" name="VHlig" id="VHlig" asp-for="VHlig">
                                        <label class="form-check-label" for="VHlig">Vehiculo Ligero</label>
                                        <br />
                                        <input class="form-check-input" type="checkbox" name="TracFull" id="TracFull" asp-for="TracFull">
                                        <label class="form-check-label" for="TracFull">Tractor Full</label>
                                    </div>
                                    <span asp-validation-for="RangoMedio" class="text-danger"></span>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row align-content-start text-start">
                        <label for="exampleFormControlTextarea1" class="form-label">Área (s) y puesto (s) que tienes experiencia</label>
                        <textarea class="form-control text-uppercase" id="exampleFormControlTextarea1" rows="2" name="Experiencia" asp-for="Experiencia"></textarea>
                        <span asp-validation-for="Experiencia" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row mt-4 align-content-end text-end">
                <button id="btnguardar" type="submit" class="btn btn-info">Guardar</button>
            </div>
        </form>
    </div>
    <div id="divarchivos" class="row mt-4">
        <div class="container">
            <div class="row border border-primary rounded text-center">
                <h5>Expediente</h5>
            </div>
            <div class="row">
                @for (int i = 0; i < numTablas; i++)
                {
                    <div class="col-@(12 / numTablas)">
                        <table class="table table-sm border-1 table table-striped">
                            <thead>
                                <tr>
                                    <th>Documentos</th>
                                    <th>Subir</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var doc in Model.TBCAT_DoctoRecibidos.Skip(i * docsPorTabla).Take(docsPorTabla))
                                {
                                    <tr>
                                        <td>@doc.Descripcion</td>
                                        @if (doc.IncluirEvidencia)
                                        {
                                            <td>
                                                <button id="idsubir-@doc.ClaveDoctoRecibe" class="btn btn-light">
                                                    <i class="bi bi-paperclip"></i>
                                                </button>
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
            <div class="row mt-4 align-content-end text-end">
                <div class="col-3">
                    <button id="btnimprimir" type="button" class="btn btn-info">Imprimir Contrato</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ValRies" tabindex="-1" aria-labelledby="modalLabelReingre" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Validar Reingreso</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    <p class="text-dark fs-5">¿Son correctos los datos?</p>
                    <p class="text-danger fs-5">Recuerda Colocar la Homoclave</p>
                    <div class="p-3 bg-light rounded border">
                        <p class="mb-1"><strong>CURP:</strong> <span id="tempCurp" class="text-primary"></span></p>
                        <p class="mb-1"><strong>RFC:</strong> <span id="tempRfc" class="text-primary"></span></p>
                        <p class="mb-0"><strong>NSS:</strong> <span id="tempNss" class="text-primary"></span></p>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-danger px-4" data-bs-dismiss="modal" aria-label="Close">NO</button>
                    <button type="button" class="btn btn-success px-4" data-bs-dismiss="modal" aria-label="Close" onclick="EjecutaValidarReingreso()">SI</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="Reigreso">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabelReingre">Reingreso</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table id="TabReingreso" class="table table-sm table-secondary table-bordered">
                        <thead>
                            <tr>
                                <th>Empresa</th>
                                <th>Nombre</th>
                                <th>NumEmpleado</th>
                                <th>Estatus</th>
                                <th>Puesto</th>
                                <th>FechaIngreso</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
