@model List<Rutas>
@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layoutllegadas.cshtml";
    string token = ViewData["Token"] as string;
    string usuario = ViewData["Usuario"] as string;
    string contraseña = ViewData["Contraseña"] as string;
    string cveEmp = ViewData["cveEmp"] as string;
}

<div class="container">
    <br>
    <div class="row text-center">
        <div class="col-12 text-start">
            <h3> Folios de Viaje por Ruta</h3>
        </div>
    </div>
    <form method="post" asp-controller="LlegadasSalidas" asp-action="Buscar">
        <div class="row">
            <div class="col-12 col-md-2 my-2">
                <label>Fecha:</label>
            </div>
            <div class="col-12 col-md-2 my-2">
                <input type="text" class="form-control" name="Fecha" id="Fecha" value="@DateTime.Now.ToString("yyyy/MM/dd")" />
                @* <input type="date" class="form-control" name="fecha" style="width: 80%" /> *@
                <span class="text-danger"></span>
            </div>
            <div class="col-12 col-md-4 my-2">
                <select class="form-select" aria-label="Default select example" name="cvruta">
                    <option selected>Selecione la Ruta</option>
                    @foreach (var item in Model)
                    {
                        @for (int i = 0; i < item.CatRuta.Count; i++)
                        {
                            <option value="@item.CatRuta[i].CR">@item.CatRuta[i].NR</option>
                        }
                    }
                </select>
                <span class="text-danger"></span>
            </div>
            <div class="col-12 col-md-4 my-2">
                <button type="submit" class="btn btn-primary">Buscar</button>
            </div>
            <input type="hidden" name="Token" id="Token" value="@ViewData["Token"]" />
            <input type="hidden" name="usuario" id="usuario" value="@ViewData["usuario"]" />
            <input type="hidden" name="contraseña" id="contraseña" value="@ViewData["contraseña"]" />
            <input type="hidden" name="cveEmp" id="cveEmp" value="@ViewData["cveEmp"]" />
        </div>
    </form>
</div>
