@using ConectDB.Models;
@model ModelFallas
@{
    ViewData["Title"] = "Registro Fallas";
    Layout = "~/Views/Shared/_Layout_RegistroFallas.cshtml";
    var usuarioModel = ViewData["UsuarioModel"] as UsuarioModel;
}
<div class="container-fluid">
    <div class="row text-center">
        <h2>@ViewData["Title"]</h2>
        <input type="hidden" value="@TempData["Mensaje"]" id="mensaje" />
        <input type="hidden" value="@TempData["guardado"]" id="guarda" />
        <input type="hidden" value="@TempData["status"]" id="status" />
    </div>
    <br />
    <form method="post" asp-action="Guardar" asp-controller="RegistroFallas" onsubmit="habilitarCamposDeshabilitados()" enctype="multipart/form-data">
        <input type="hidden" value="@usuarioModel.Data[0].EmpS[0].cveEmp" id="cveEmpUser" name="cveEmpUser" />
        <input type="hidden" value="" id="cveEmp" name="cveEmp" />
        <input type="hidden" value="@usuarioModel.Token" id="XT" name="XT" />
        <div id="accordion">
            <div class="card">
                <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                        Descripcion Falla
                    </a>
                </div>
                <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="row align-content-center text-center">
                                <div class="col-md-auto">
                                    <label for="selorigen" class="form-label">
                                        Origen:
                                        <select class="form-select form-select-sm" id="selorigen" name="selorigen" asp-for="selorigen" disabled>
                                            @foreach (var or in Model.TBCAT_OrigenTicket)
                                            {
                                                <option value="@or.ClaveOrigenTicket">@or.Alias|@or.Descripcion</option>
                                            }
                                        </select>
                                    </label>
                                </div>
                                <div class="col-md-auto">
                                    <br />
                                    <label class="form-check-label" for="chekviaje">
                                        Viaje
                                        <input class="form-check-input" type="checkbox" value="" id="CheckViaje" checked="@TempData["check"]">
                                        <input type="hidden" value="@TempData["check"]" class="form-control" id="inCheckViaje" name="inCheckViaje" asp-for="inCheckViaje" />
                                    </label>
                                </div>
                                <div class="col-md-auto">
                                    <label for="selAccion" class="form-label">
                                        Accion:
                                        <select class="form-select form-select-sm" id="selAccion" name="selAccion" asp-for="selAccion">
                                            <option value="0">[Seleccionar]</option>
                                            @foreach (var tip in Model.TBCAT_TipoMtto)
                                            {
                                                if (@tip.ClaveTipoMtto == 2)
                                                {
                                                    <option selected value="@tip.ClaveTipoMtto">@tip.Descripcion</option>
                                                }
                                                else
                                                {
                                                    <option value="@tip.ClaveTipoMtto">@tip.Descripcion</option>
                                                }
                                            }
                                        </select>
                                        <span asp-validation-for="selAccion" class="text-danger"></span>
                                    </label>
                                </div>
                                <div class="col-md-auto">
                                    <label for="selTipCarga" class="form-label">Tipo Carga:</label>
                                    <select class="form-select form-select-sm" id="selTipCarga" name="selTipCarga" asp-for="selTipCarga">
                                        <option selected value="0">[seleccionar]</option>
                                        @foreach (var tpc in Model.TBCAT_TipoCarga)
                                        {
                                            <option value="@tpc.ClaveTipoCarga">@tpc.Descripcion</option>
                                        }
                                    </select>
                                    <span asp-validation-for="selTipCarga" class="text-danger"></span>
                                </div>
                                <div class="col-md-2">
                                    <label for="selDolly" class="col-form-label">Tipo de Dolly:</label>
                                    <select class="form-select form-select-sm" aria-label="Default select example" id="selDolly" name="selDolly" asp-for="selDolly">
                                        <option selected value="0">[Seleccionar]</option>
                                        @foreach (var carga in Model.TBCAT_Dolly)
                                        {
                                            <option value="@carga.ClaveDolly">@carga.Numero</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <label for="telopera" class="col-form-label">
                                        Tel.Operador:
                                        <input type="text" class="form-control form-control-sm" id="telopera" name="telopera" asp-for="telopera" />
                                    </label>
                                </div>
                            </div>
                            <div class="row align-content-center text-center">
                                <div class="col-md-auto">
                                    <label for="seleuni" class="form-label">
                                        Unidad
                                        <select class="form-select form-select-sm" id="seleuni" name="seleuni" asp-for="seleuni">
                                            <option value="0" selected>[seleccionar]</option>
                                            @foreach (var unidades in Model.TBCAT_Unidades)
                                            {
                                                <option value="@unidades.ClaveUnidad_Motora">@unidades.Numero|@unidades.Alias</option>
                                            }
                                        </select>
                                        <span asp-validation-for="seleuni" class="text-black"></span>
                                    </label>
                                    <select class="form-select form-select-sm" id="seleuniempresa" name="seleuniempresa" hidden>
                                        <option value="0" selected>[seleccionar]</option>
                                        @foreach (var unidades in Model.TBCAT_Unidades)
                                        {
                                            <option value="@unidades.ClaveUnidad_Motora">@unidades.ClaveEmpresa</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-md-auto">
                                    <label for="Opera" class="form-label">
                                        Operador
                                        <select class="form-select form-select-sm" id="Opera" name="Opera" asp-for="Opera">
                                            <option selected value="0">[seleccionar]</option>
                                            @foreach (var op in Model.TBCAT_Operador)
                                            {
                                                <option value="@op.ClaveOperador">@op.NumOP |@op.Nombre</option>
                                            }
                                        </select>
                                    </label>
                                </div>
                                <div class="col-md-4">
                                    <label for="Ruta" class="col-form-label">Ruta
                                    <input type="text" class="form-control form-control-sm" value="" id="Ruta" name="Ruta" asp-for="Ruta" />
                                    </label>
                                </div>
                            </div>
                            <div class="row align-content-center text-center">
                                <div class="col-md-auto">
                                    <label for="remolque1" class="col-form-label">Remolque 1
                                    <select class="form-select form-select-sm" id="remolque1" name="remolque1" asp-for="remolque1">
                                        <option selected value="0">[seleccionar]</option>
                                        @foreach (var re in Model.TBCAT_Remolques)
                                        {
                                            <option value="@re.ClaveUnidad_Arrastre">@re.Numero</option>
                                        }
                                    </select>
                                    </label>
                                </div>
                                <div class="col-md-auto">
                                    <label for="remolque2" class="col-form-label">Remolque 2
                                    <select class="form-select form-select-sm " id="remolque2" name="remolque2" asp-for="remolque2">
                                        <option selected value="0">[seleccionar]</option>
                                        @foreach (var re in Model.TBCAT_Remolques)
                                        {
                                            <option value="@re.ClaveUnidad_Arrastre">@re.Numero</option>
                                        }
                                    </select>
                                    </label>
                                </div>
                                <div class="col-md-auto">
                                    <label for="SelectOperacion" class="form-label">Tipo Operación
                                    <select class="form-select form-select-sm" id="SelectOperacion" name="SelectOperacion" asp-for="SelectOperacion">
                                        <option selected value="0">[seleccionar]</option>
                                        @foreach (var ope in Model.TBCAT_TipoOp)
                                        {
                                            <option value="@ope.ClaveTipoOperacion">@ope.Descripcion</option>
                                        }
                                    </select>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                        Alta Falla
                    </a>
                </div>
                <div id="collapseTwo" class="collapse show" data-bs-parent="#accordion">
                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="altaFal" class="col-form-label">Agrega Falla</label>
                                    <button type="button" class="btn btn-outline-success" aria-label="Agregar Falla" onclick="mostrafalla()" id="altaFal">
                                        <img src="~/imag/plus.png" />
                                    </button>
                                </div>
                                <div class="col-md-2">
                                </div>
                            </div>
                            <br />
                            <div class="row align-content-center text-center table-responsive" id="fallasmuestra">
                                <table id="tabmosfal" class="table-secondary table-sm table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Falla:</th>
                                            <th>Clasificacion:</th>
                                            @* <th>Tipo Falla:</th> *@
                                            <th>Comentarios</th>
                                            <th colspan="2">Evidencias</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <br />
                            <div class="align-content-center text-center" id="AltaFalla" style="display:none">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label for="selfalla" class="form-label">Falla en:
                                        <select class="form-select form-select-sm" id="selfalla">
                                            <option selected>[seleccionar]</option>
                                            @foreach (var ticket in Model.TBCAT_TipoTicket)
                                            {
                                                <option value="@ticket.ClaveTipoTicket">@ticket.Descripcion</option>
                                            }
                                        </select>
                                        </label>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="selclasi" class="col-form-label">Clasificación:</label>
                                        <select class="form-select form-select-sm" id="selclasi">
                                            <option selected value="0">[Seleccionar]</option>
                                            @foreach (var Clasif in Model.TBCAT_TipoClasificacion)
                                            {
                                                <option value="@Clasif.ClaveTipoClasificacion">@Clasif.Descripcion</option>
                                            }
                                        </select>
                                    </div>
                                    @* <div class="col-md-2">
                                        <label for="seltip" class="form-label">Tipo Falla:</label>
                                        <select class="form-select form-select-sm" id="seltip">
                                            <option selected value="0">[Seleccionar]</option>
                                            @foreach (var TFAL in Model.TBCAT_TipoFalla)
                                            {
                                                <option value="@TFAL.ClaveTipoFalla">@TFAL.Descripcion</option>
                                            }
                                        </select>
                                    </div> *@
                                    <div class="col-md-4">
                                        <label for="Comentario" class="col-form-label">Comentarios:</label>
                                        <textarea class="form-control form-control-sm" id="Comentario" placeholder="Comentarios"></textarea>
                                    </div>
                                    <div class="col-md-2 d-flex align-items-end">
                                        <button class="btn btn-primary w-100" onclick="agregar()" type="button">Agregar</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="alert alert-info d-flex align-items-center justify-content-center" style="gap: 10px;">
                                            <img src="~/imag/informacion.png" alt="Exclamación" style="width: 30px; height: 30px;" />
                                            <span>Recuerda solo se aceptan archivos en formato png, jpeg y MP4 </span>
                                        </div>
                                    </div>
                                    <div class="col-7">
                                        <label class="custom-file-upload inputUploadFile">
                                            <input type="file" name="Files" id="Files" accept=".png,.jpg" multiple onchange="validarArchivos(this)" />
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div id="myModal" class="modal" style="display: none;">
                                <div class="container-fluid text-center align-content-center justify-content-center">
                                    <span class="close" onclick="cerrarModal()">&times;</span>
                                    <img class="modal-content" id="img01" style="width:100%; max-width: 600px;">
                                    <div id="caption" style="margin-top: 10px; color: #555;"></div>
                                </div>
                            </div>
                            <div class="align-content-center text-center" id="remolque" style="display:none">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label for="selcveEquipo" class="form-label">Remolque:</label>
                                        <select class="form-select form-select-sm" id="selcveEquipo" name="selcveEquipo" asp-for="selcveEquipo">
                                            <option selected value="0">[Seleccionar]</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div id="forllantas" class="container p-2 my-3 border" style="display:none">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label for="NumDaLla" class="col-form-label"># llantas Dañadas :</label>
                                        <input type="number" class="form-control form-control-sm" id="NumDaLla" name="NumDaLla" />
                                    </div>
                                    <div class="col-md-10">
                                        <div id="llantasContainer">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseThree">
                        Ubicación
                    </a>
                </div>
                <div id="collapseThree" class="collapse show" data-bs-parent="#accordion">
                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="row align-content-center text-center">
                                <div class="alert alert-info align-items-center justify-content-center" style="gap: 10px; display:none;" id="ayudamap">
                                    <img src="~/imag/informacion.png" alt="Exclamación" style="width: 30px; height: 30px;" />
                                    <span>Arrastra el pin en el mapa para seleccionar una ubicación.</span>
                                </div>
                                <div id="map" class="map map-home" style="height: 300px; margin-top: 50px"></div>
                            </div>
                            <div class="row">
                                <p id="texto"></p>
                                <input type="hidden" class="form-control form-control-sm" value="" id="lat" name="latitud" asp-for="latitud" />
                                <input type="hidden" class="form-control form-control-sm" value="" id="latNew" name="latitudNew" asp-for="latitudNew" />
                                <input type="hidden" class="form-control form-control-sm" value="" id="long" name="longitud" asp-for="longitud" />
                                <input type="hidden" class="form-control form-control-sm" value="" id="longNew" name="longitudNew" asp-for="longitudNew" />
                                <input type="hidden" class="form-control form-control-sm" value="" id="fechaGPs" name="fechaGPs" asp-for="fechaGPs" />
                                <input type="hidden" class="form-control form-control-sm" value="" id="fechaGPsNew" name="fechaGPsNew" asp-for="fechaGPsNew" />
                                <input type="hidden" class="form-control form-control-sm" value="" id="DirPosGps" name="DirPosGps" asp-for="DirPosGps" />
                                <input type="hidden" class="form-control form-control-sm" value="" id="DirPosGpsNew" name="DirPosGpsNew" asp-for="DirPosGpsNew" />
                                <input type="hidden" class="form-control form-control-sm" value="" id="ClvViajTum" name="ClvViajTum" asp-for="ClvViajTum" />

                                <input type="hidden" class="form-control form-control-sm" value="" id="clavesFalAndComen" name="clavesFalAndComen" />
                                <input type="hidden" class="form-control form-control-sm" value="" id="fallallantas" name="fallallantas" />

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="align-content-end">
                <button class="btn btn-primary" type="submit">Guardar</button>
            </div>
        </div>
    </form>
</div>
<script>
    const eliminarImgPath = '@Url.Content("~/imag/eliminar.png")';
    const evidenciasImgPath = '@Url.Content("~/imag/evidencias.png")';
</script>