@{
    @using Newtonsoft.Json
    @using ConectDB.Models;
    @model UsuarioModel;
    var userDataJson = JsonConvert.SerializeObject(Model);

}
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-gradient barramenu">
        <div class="container-fluid">
            @switch (Model.Data[0].EmpS[0].cveEmp)
            {
                case 1:
                    <a class="navbar-brand-center">
                        <img src="~/imag/logo_difuminado.png" alt="Bootstrap" width="50" height="44">
                    </a>
                    break;
                case 2:
                    <a class="navbar-brand-center">
                        <img src="~/imag/tum-logo-jk.png" alt="Bootstrap" width="50" height="44">
                    </a>
                    break;
                default:
                    <a class="navbar-brand-center">
                        <img src="~/imag/logo_difuminado.png" alt="Bootstrap" width="50" height="44">
                    </a>
                    break;
            }
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    @foreach (var sistema in Model.Data[0].sistms)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                @sistema.nomsis
                            </a>
                            <ul class="dropdown-menu">
                                @foreach (var modulo in Model.Data[0].mods.Where(mod => mod.idsist == sistema.idsist))
                                {
                                    <li class="nav-item dropend">
                                        <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            @modulo.nommod
                                        </a>
                                        <ul class="dropdown-menu">
                                            @foreach (var submodulo in modulo.submods)
                                            {
                                                <li>
                                                    <a asp-action="Index" asp-controller="@submodulo.nomsub.Replace(" ", "")" asp-route-cveEmp="@Model.Data[0].EmpS[0].cveEmp" asp-route-idsub="@submodulo.idsub" asp-route-XT="@Model.Token" class="dropdown-item text-dark">
                                                        @submodulo.nomsub
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                }
                            </ul>
                        </li>
                    }

                </ul>
                <div class="d-flex">
                    <div class="btn-group iconouser">
                        <button type="button" class="btn iconouser dropdown-toggle" data-bs-toggle="dropdown">
                            <img src="~/imag/log_icon.png" width="30" height="24">
                            @Model.Data[0].nom
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-action="Salir" asp-controller="Loging">Salir</a></li>
                        </ul>
                    </div>
                </div>
            </div>
    </nav>
</header>