@model List<ConectDB.Models.Ordenes>;
@{
    string? title = ViewData["Title"] as string;
    // Layout = "~/Views/Shared/_Layout_ControlReparaciones.cshtml";
}

<div id="ticketDetailsModal">
    <div class="container-fluid">
        <div class="col-auto">
            <table class="table table-bordered table-sm ticket-reparacion-table">
                <caption></caption>
                <thead>
                    <tr>
                        <th scope="col"># Orden</th>
                        <th scope="col">Proveedor</th>
                        <th scope="col">Folio</th>
                        <th scope="col">Costo</th>
                        <th scope="col">Equipo</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var or in Model)
                    {
                        <tr>
                            <td class="text-center">
                                <p>@or.OrdenMtto</p>
                            </td>
                            <td class="text-center">
                                <p>@or.Proveedor</p>
                            </td>
                            <td class="text-center">
                                <p>@or.Folio</p>
                            </td>
                            <td class="text-center">
                                <p>@or.Costo</p>
                            </td>
                            <td class="text-center">
                                <p>@or.Equipo</p>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-auto">
            <button type="submit" asp-controller="ControlReparaciones" asp-action="BuscarReparacion" asp-route-Tok="@ViewData["Tok"]" asp-route-cveEmp="@ViewData["cveEmp"]" asp-route-FehTick="@DateTime.Now" asp-route-TipTicket="0" asp-route-TipFalla="0" asp-route-NumTicket="0" asp-route-idsub="@ViewData["idsub"]" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
    </div>
</div>