@using ConectDB.Models;
@model ControlFalla;
@{
    string? title = ViewData["Title"] as string;
    Layout = "~/Views/Shared/_Layout_ControlReparaciones.cshtml";
    var usuarioModel = ViewData["UsuarioModel"] as UsuarioModel;
}
<div class="col-md-10">
    <div class="container">
        <br />
        <div class="row-cols-auto text-lg-start">
            <h3>@ViewData["Title"]</h3>
            <input type="hidden" value="@TempData["Mensaje"]" id="mensaje"></input>
            <input type="hidden" value="@TempData["guardado"]" id="guarda"></input>
        </div>
        <br />
        <form method="post" asp-controller="ControlReparaciones" asp-action="BuscarFinalizados">
            <div class="row justify-content-start align-items-start">
                <div class="col-md-2">
                    <label for="FehTick" class="form-label">Fecha:</label>
                    <input type="text" class="form-control input-sm filtros" value="@Convert.ToDateTime(@TempData["FehTick"]).ToString("yyyy/MM/dd")" id="FehTick" name="FehTick" />
                </div>
                <div class="col-md-2">
                    <label for="TipTicket" class="form-label">Tipo de Ticket:</label>
                    <select class="form-select input-sm" aria-label="Default select example" id="TipTicket" name="TipTicket">
                        <option selected>[Selecciona]</option>
                        @foreach (var ticket in Model.TBCAT_TipoTicket)
                        {
                            <option value="@ticket.ClaveTipoTicket">@ticket.Descripcion</option>
                        }
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="TipFalla" class="form-label">Tipo Falla:</label>
                    <select class="form-select input-sm" aria-label="Default select example" id="TipFalla" name="TipFalla">
                        <option selected>[Selecciona]</option>
                        @foreach (var falla in Model.TBCAT_TipoFalla)
                        {
                            <option value="@falla.ClaveTipoFalla">@falla.Descripcion</option>
                        }
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="NumTicket" class="form-label"># Ticket:</label>
                    <input type="number" class="form-control filtros" placeholder="# Ticket" id="NumTicket" name="NumTicket" />
                </div>
                <div class="col-md-2">
                    <br />
                    <button class="btn btn-primary carga" type="submit" id="btnBusFalReg">Buscar</button>
                </div>
                <input type="hidden" name="idsub" id="idsub" value="@usuarioModel.idsub" />
                <input type="hidden" name="XT" id="Token" value="@usuarioModel.Token" />
                <input type="hidden" name="cveEmp" id="cveEmp" value="@usuarioModel.Data[0].EmpS?[0].cveEmp" />
            </div>
        </form>
        <br />
        <div class="row justify-content-start align-items-start">
            <div class="col-12">
                <div class="container table-responsive container-fluid">
                    <table class="table table-bordered table-sm ticket-final-table" id="TabDatos">
                        <caption>@ViewData["Title"]</caption>
                        <thead>
                            <tr>
                                <th scope="col"># Ticket</th>
                                <th scope="col">Fecha Creación</th>
                                <th scope="col">Tipo Ticket</th>
                                <th scope="col">Falla</th>
                                <th scope="col">Fecha Asignación</th>
                                <th scope="col">Usuario Asignado</th>
                                <th scope="col">Tipo Apoyo</th>
                                <th scope="col">Tiempo Estimado</th>
                                <th scope="col">Fecha Termino</th>
                                <th scope="col">Clasificación</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var solicitude in Model.Solicitudes)
                            {
                                <tr>
                                    <td class="text-center">
                                        <p>@solicitude.NumTicket</p>
                                        <input type="hidden" value="@solicitude.NumTicket" id="NumTicket" name="NumTicket" />
                                    </td>
                                    <td class="text-center">
                                        <p>@solicitude.FechaCreacion?.ToString("yyyy/MM/dd HH:mm")</p>
                                    </td>
                                    <td class="text-center">
                                        <p>@solicitude.TipoTicket</p>
                                    </td>
                                    <td class="text-center">
                                        <p>@solicitude.TipoFalla</p>
                                    </td>
                                    <td class="text-center">
                                        <p>@solicitude.FechaAsignacion?.ToString("yyyy/MM/dd HH:mm")</p>
                                        @* <input type="date" class="form-control filtros" disabled /> *@
                                    </td>
                                    <td class="text-center">
                                        <p>@solicitude.Usuario</p>
                                    </td>
                                    <td class="text-center">
                                        <p>@solicitude.TipoApoyo</p>
                                    </td>
                                    <td class="text-center">
                                        <p>@solicitude.FechaHoraVencimiento?.ToString("yyyy/MM/dd HH:mm")</p>
                                    </td>
                                    <td class="text-center">
                                        <p>@solicitude.FechaEvento?.ToString("yyyy/MM/dd HH:mm")</p>
                                        @* <input type="datetime-local" class="form-control filtros" disabled /> *@
                                    </td>
                                    <td class="text-center">
                                        <p>@solicitude.TipoClasificacion</p>
                                    </td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-light btn-sm" id="mostrar" onclick="mostrar(@solicitude.NumTicket)">
                                            <img src="~/imag/mas.png" alt="Agregar" />
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="12">
                                        <div class="container">
                                            <div class="row">
                                                <div id="datos-@solicitude.NumTicket" class="datos-bak">
                                                    @if (@solicitude.ClaveTipoClasificacion == 2)
                                                    {
                                                        <div class="row">
                                                            <div class="col-12 col-md-2">
                                                                <h6>Tipo Clasificacion: </h6>
                                                                <p>@solicitude.TipoClasificacion</p>
                                                            </div>
                                                            <div class="col-12 col-md-2">
                                                                <h6>DOT: </h6>
                                                                <p>@solicitude.DOT</p>
                                                            </div>
                                                            <div class="col-12 col-md-2">
                                                                <h6>MARCA: </h6>
                                                                <p>@solicitude.MARCA</p>
                                                            </div>
                                                            <div class="col-12 col-md-2">
                                                                <h6>MEDIDA: </h6>
                                                                <p>@solicitude.MEDIDA</p>
                                                            </div>
                                                            <div class="col-12 col-md-2">
                                                                <h6>POSICION: </h6>
                                                                <p>@solicitude.POSICION</p>
                                                            </div>
                                                            <div class="col-12 col-md-2"></div>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="row">
                                                            <div class="col-12 col-md-2">
                                                                <h6>Tipo Clasificacion: </h6>
                                                                <p>@solicitude.TipoClasificacion</p>
                                                            </div>
                                                            <div class="col-12 col-md-10">
                                                            </div>
                                                        </div>
                                                    }
                                                    @if (@solicitude.ClaveTipoTicket == 1)
                                                    {
                                                        <div id="Tractor" class="row">
                                                            <div class="col-12 col-md-2">
                                                                <h6>Solicitante: </h6>
                                                                <p>@solicitude.UsuarioCreacion</p>
                                                            </div>
                                                            <div class="col-12 col-md-2">
                                                                <h6>Economico | Alias: </h6>
                                                                <p>@solicitude.Unidad | @solicitude.Alias</p>
                                                            </div>
                                                            <div class="col-12 col-md-2">
                                                                <h6>Tipo de Equipo:</h6>
                                                                <p>@solicitude.TipoEquipo</p>
                                                            </div>
                                                            <div class="col-12 col-md-3">
                                                                <h6>Ruta:</h6>
                                                                <p>@solicitude.NumRuta | @solicitude.Ruta</p>
                                                            </div>
                                                            <div class="col-12 col-md-2">
                                                                <h6>Tramo Carretero: </h6>
                                                                <p>@solicitude.TramoCarretero</p>
                                                            </div>
                                                        </div>
                                                    }
                                                    else if (@solicitude.ClaveTipoTicket == 3)
                                                    {
                                                        <div id="Dolly" class="row">
                                                            <div class="col-12 col-md-2">
                                                                <h6>Solicitante: </h6>
                                                                <p>@solicitude.UsuarioCreacion</p>
                                                            </div>
                                                            <div class="col-12 col-md-2">
                                                                <h6>Dolly: </h6>
                                                                <p>@solicitude.NumeroDolly</p>
                                                            </div>
                                                            <div class="col-12 col-md-2">
                                                                <h6>Tipo de Carga: </h6>
                                                                <p>@solicitude.TipoCarga</p>
                                                            </div>
                                                            <div class="col-12 col-md-2">
                                                                <h6>Tipo de Equipo:</h6>
                                                                <p>@solicitude.TipoEquipo</p>
                                                            </div>
                                                            <div class="col-12 col-md-2">
                                                                <h6>Ruta:</h6>
                                                                <p>@solicitude.NumRuta | @solicitude.Ruta</p>
                                                            </div>
                                                            <div class="col-12 col-md-2">
                                                                <h6>Tramo Carretero: </h6>
                                                                <p>@solicitude.TramoCarretero</p>
                                                            </div>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div id="Remolque" class="row">
                                                            <div class="col-12 col-md-2">
                                                                <h6>Solicitante: </h6>
                                                                <p>@solicitude.UsuarioCreacion</p>
                                                            </div>
                                                            <div class="col-12 col-md-2">
                                                                <h6>Remolque: </h6>
                                                                <p>@solicitude.Remolque</p>
                                                            </div>
                                                            <div class="col-12 col-md-2">
                                                                <h6>Tipo de Carga: </h6>
                                                                <p>@solicitude.TipoCarga</p>
                                                            </div>
                                                            <div class="col-12 col-md-2">
                                                                <h6>Tipo de Equipo:</h6>
                                                                <p>@solicitude.TipoEquipo</p>
                                                            </div>
                                                            <div class="col-12 col-md-2">
                                                                <h6>Ruta:</h6>
                                                                <p>@solicitude.NumRuta | @solicitude.Ruta</p>
                                                            </div>
                                                            <div class="col-12 col-md-2">
                                                                <h6>Tramo Carretero: </h6>
                                                                <p>@solicitude.TramoCarretero</p>
                                                            </div>
                                                        </div>
                                                    }
                                                    <div class="row">
                                                        <div class="col-12 col-md-2">
                                                            <h6>Operador:</h6>
                                                            <p>@solicitude.NumOp | @solicitude.Operador</p>
                                                        </div>
                                                        <div class="col-12 col-md-2">
                                                            <h6>Telefono Operador: </h6>
                                                            <p>@solicitude.Tel_Operador</p>
                                                        </div>
                                                        <div class="col-12 col-md-4">
                                                            <h6> Ubicacion Reportada: </h6>
                                                            <p>@solicitude.UbicacionReportada</p>
                                                        </div>
                                                        <div class="col-12 col-md-4">
                                                            <h6> Ultima Posicion Reportada GPS: </h6>
                                                            <p>@solicitude.FechaUltPosicion?.ToString("yyyy/MM/dd HH:mm:ss") | @solicitude.UltimaPosicionGps</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-4">
                                                            <h6>Diesel</h6>
                                                            <p>@solicitude.Diesel</p>
                                                        </div>
                                                        <div class="col-4">
                                                            <h6>Atencion Parcial</h6>
                                                            <p>@solicitude.AtencionParcial</p>
                                                        </div>
                                                        <div class="col-4">
                                                            <h6>Grua</h6>
                                                            <p>@solicitude.Grua</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div id="pagination" class="text-center"></div>
            </div>
        </div>
    </div>
</div>