@using ConectDB.Models;
@model ControlFalla;
@{
    string? title = ViewData["Title"] as string;
    Layout = "~/Views/Shared/_Layout_ControlReparaciones.cshtml";
    var usuarioModel = ViewData["UsuarioModel"] as UsuarioModel;
}
<div class="row">
    <div class="col-lg-5 p-0">
        <div class="grid-container" id="datageticket">
            <div class="grid-header-container">
                <div class="grid-header vertical eco-head align-content-center text-center">ECO</div>
                <div class="grid-header fechalta-head align-content-center text-center">Alta Ticket</div>
                <div class="grid-header vertical crnot-head">CRC Notificado</div>
                <div class="grid-header vertical callop-head">Operador Llamada a </div>
                <div class="grid-header vertical MecEme-head">Mecanica Emergencia</div>
                <div class="grid-header vertical Diag-head">Diagnostico</div>
                <div class="grid-header vertical rcasig-head">RC Asignado</div>
                <div class="grid-header vertical etarc-head">ETA RC</div>
                <div class="grid-header vertical llegadar-head">Llegada RC</div>
                <div class="grid-header vertical etarep-head">Reparacion ETA </div>
                <div class="grid-header vertical concluido-head">Concluido</div>
                <div class="grid-header usgen-head">Usuario Genera Ticket</div>
                <div class="grid-header UNE-head">UNE</div>
                <div class="grid-header Tiop-head">Tipo Operacion</div>
                <div class="grid-header FALINI-head">Falla Inicial</div>
                <div class="grid-header FCRC-head">Fecha CRC Asignado</div>
                <div class="grid-header USCRC-head">Usuario CRC Asignado</div>
                <div class="grid-header FLLOP-head">Fecha Llamada Operador</div>
                <div class="grid-header FMECEME-head">Fecha Mecanica Emergencia</div>
                <div class="grid-header FDIAG-head">Fecha Diagnostico</div>
                <div class="grid-header FRCAS-head">Fecha RC Asignado</div>
                <div class="grid-header FETRC-head">Fecha ETA RC</div>
                <div class="grid-header FLLRC-head">Fecha Llegada RC</div>
                <div class="grid-header FETA-head">Fecha ETA Reparacion</div>
                <div class="grid-header FC-head">Fecha Concluido</div>
            </div>
            <div class="grid-cell-container">
                @foreach (var c in Model.ListDataPrincipal)
                {
                    <div class="grid-cell eco align-content-center text-center justify-content-center">
                        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalEco-@c.ClaveTicket" data-bs-name="ECO" data-bs-placement="top" title="Mostrar">
                            <img src="~/imag/unidad.png" />
                        </button>
                        <p>@c.ECO</p>
                    </div>
                    <div class="grid-cell fechalta align-content-center text-center">
                        <i class="bi bi-calendar"></i>
                        <br />
                        <p>@c.FechaAltaTicket?.ToString("yyyy/MM/dd HH:mm:ss")</p>
                    </div>
                    <div class="grid-cell crnot align-content-center text-center" style="background-color:@c.CRCNOTIFICADO">
                        @if (string.IsNullOrEmpty(@c.FechaCRCAsignado.ToString()))
                        {
                            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalDetalle-@c.ClaveTicket" data-bs-placement="top" title="Mostrar">
                                <span class="material-symbols-outlined">
                                    notifications
                                </span>
                            </button>
                        }
                        else
                        {
                            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalDetalle-@c.ClaveTicket" disabled>
                                <span class="material-symbols-outlined">
                                    notifications
                                </span>
                            </button>
                        }
                    </div>
                    <div class="grid-cell callop align-content-center text-center" style="background-color:@c.LLAMADAOPER">
                        <span class="material-symbols-outlined">
                            phone_forwarded
                        </span>
                    </div>
                    <div class="grid-cell MecEme align-content-center text-center" style="background-color:@c.MECANICAEMERGENCIA">
                        <span class="material-symbols-outlined">
                            build
                        </span>
                    </div>
                    <div class="grid-cell Diag align-content-center text-center" style="background-color:@c.DIAGNOSTICO">
                        <span class="material-symbols-outlined">
                            troubleshoot
                        </span>
                    </div>
                    <div class="grid-cell rcasig align-content-center text-center" style="background-color:@c.RCASIGNADO">
                        <i class="bi bi-person-raised-hand"></i>
                    </div>
                    <div class="grid-cell etarc align-content-center text-center" style="background-color:@c.ETARC">
                        <span class="material-symbols-outlined">
                            move_location
                        </span>
                    </div>
                    <div class="grid-cell llegadar align-content-center text-center" style="background-color:@c.LLEGADARC">
                        <span class="material-symbols-outlined">
                            where_to_vote
                        </span>
                    </div>
                    <div class="grid-cell etarep align-content-center text-center" style=" background-color:@c.ETAREPARACION">
                        <span class="material-symbols-outlined">
                            hourglass_bottom
                        </span>
                    </div>
                    <div class="grid-cell concluido align-content-center text-center" style=" background-color:@c.CONCLUIDO">
                        <span class="material-symbols-outlined">
                            flag_check
                        </span>
                    </div>
                    <div class="grid-cell usgen align-content-center text-center">
                        <p>@c.USERGeneraTicket</p>
                    </div>
                    <div class="grid-cell UNE align-content-center text-center">
                        <p>@c.UNE</p>
                    </div>
                    <div class="grid-cell Tiop align-content-center text-center">
                        <p>@c.TipoOperacion</p>
                    </div>
                    <div class="grid-cell FALINI align-content-center text-center overflow-auto">
                        <p>@c.FallaInicial</p>
                    </div>
                    <div class="grid-cell FCRC align-content-center text-center">
                        <p>@c.FechaCRCAsignado?.ToString("yyyy/MM/dd HH:mm:ss")</p>
                    </div>
                    <div class="grid-cell USCRC align-content-center text-center">
                        <p>@c.UsrCRCAsignado</p>
                    </div>
                    <div class="grid-cell FLLOP align-content-center text-center">
                        <p>@c.FechaLlamadaOPE?.ToString("yyyy/MM/dd HH:mm:ss")</p>
                    </div>
                    <div class="grid-cell FMECEME align-content-center text-center">
                        <p>@c.FechaMECEmergencia?.ToString("yyyy/MM/dd HH:mm:ss")</p>
                    </div>
                    <div class="grid-cell FDIAG align-content-center text-center">
                        <p>@c.FechaDiagnostico?.ToString("yyyy/MM/dd HH:mm:ss")</p>
                    </div>
                    <div class="grid-cell FRCAS align-content-center text-center"></div>
                    <div class="grid-cell FETRC align-content-center text-center"></div>
                    <div class="grid-cell FLLRC align-content-center text-center"></div>
                    <div class="grid-cell FETA align-content-center text-center"></div>
                    <div class="grid-cell FC align-content-center text-center"></div>
                }
            </div>
        </div>
    </div>
    @foreach (var c in Model.ListDataPrincipal)
    {
        <div class="modal fade" id="modalDetalle-@c.ClaveTicket" tabindex="-1" aria-labelledby="modalDetalle-@c.ClaveTicket-Label"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalDetalle-@c.ClaveTicket-Label">#Ticket: @c.ClaveTicket ECO: @c.ECO</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h5>El registro será asignado para su seguimiento inmediato.</h5>
                        <h5 class="text-end">¿Desea confirmarlo?</h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal" id="modalDetallebtnsi" onclick="enviarnotificacion(@c.ClaveTicket)">Si</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modalEco-@c.ClaveTicket" tabindex="-1" aria-labelledby="modalEco-@c.ClaveTicket-Label"
             aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalEco-@c.ClaveTicket-Label">Detalles del Ticket: @c.ClaveTicket</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body overflow-auto">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-3">
                                    <strong>Operador:</strong>
                                    <p id="NumOP-@c.ClaveTicket" class="text-capitalize"></p>
                                    <strong>Remolque(s):</strong>
                                    <p id="Remolques-@c.ClaveTicket"></p>
                                </div>
                                <div class="col-md-3">
                                    <strong>Dolly:</strong>
                                    <p id="Doly-@c.ClaveTicket"></p>
                                    <strong>Cliente:</strong>
                                    <p id="NombreCliente-@c.ClaveTicket"></p>
                                </div>
                                <div class="col-md-3">
                                    <div id="MostMap-@c.ClaveTicket"></div>
                                    <input class="form-check-input" type="checkbox" value="" id="TipoCarga-@c.ClaveTicket" disabled>
                                    <label class="form-check-label" for="TipoCarga-@c.ClaveTicket" id="labTipoCarga-@c.ClaveTicket"></label>
                                </div>
                                <div class="col-md-3">
                                    <strong>
                                        <i class="bi bi-whatsapp"></i>
                                    </strong>
                                    <p id="Tel_Operador-@c.ClaveTicket"></p>
                                    <strong>Viaje:</strong>
                                    <p id="Folio-@c.ClaveTicket"></p>
                                </div>
                            </div>
                            <div class="row text-center mt-3">
                                <div class="table-responsive" id="FallasDeta-@c.ClaveTicket">
                                    <table id="TabFallasDeta-@c.ClaveTicket" class="table table-secondary table-sm table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="align-content-center text-center">Falla en</th>
                                                <th class="align-content-center text-center">Clasificacion</th>
                                                <th class="align-content-center text-center">Referencia</th>
                                                <th class="align-content-center text-center">Proveedores</th>
                                                <th class="align-content-center text-center">Evidencias</th>
                                                <th class="align-content-center text-center">Folio de Llantas</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
