@using ConectDB.Models;
@model ControlFalla;
@{
    string? title = ViewData["Title"] as string;
    Layout = "~/Views/Shared/_Layout_ControlReparaciones.cshtml";
    var usuarioModel = ViewData["UsuarioModel"] as UsuarioModel;
}
<div class="col-md-10">
    <div class="container">
        <br />
        <div class="row-cols-auto text-lg-start">
            <h3>@ViewData["Title"]</h3>
            <input type="hidden" value="@TempData["Mensaje"]" id="mensaje" />
            <input type="hidden" value="@TempData["guardado"]" id="guarda" />
        </div>
        <br />
        <form method="post" asp-controller="ControlReparaciones" asp-action="BuscarPorAsig">
            <div class="row justify-content-start align-items-start">
                <div class="col-auto">
                    <label for="FehTick" class="form-label">Fecha:</label>
                    <input type="text" class="form-control form-control-sm filtros" value="@Convert.ToDateTime(@TempData["FehTick"]).ToString("yyyy/MM/dd")" id="FehTick" name="FehTick" />
                </div>
                <div class="col-auto">
                    <label for="ClaveTipoFalla" class="form-label">Tipo Falla:</label>
                    <select class="form-select form-select-sm" aria-label="Default select example" id="ClaveTipoFalla" name="ClaveTipoFalla">
                        <option selected>[Selecciona]</option>
                        @foreach (var tipfalla in Model.TBCAT_TipoFalla)
                        {
                            <option value="@tipfalla.ClaveTipoFalla">@tipfalla.Descripcion</option>
                        }
                    </select>
                </div>
                <div class="col-auto">
                    <label for="NumTicket" class="form-label"># Ticket:</label>
                    <input type="number" class="form-control form-control-sm filtros" placeholder="# Ticket" id="NumTicket" name="NumTicket" />
                </div>
                <div class="col-auto">
                    <br />
                    <button class="btn btn-primary carga" type="submit" id="btnBusFalReg">Buscar</button>
                </div>
            </div>
            <input type="hidden" name="idsub" id="idsub" value="@usuarioModel.idsub" />
            <input type="hidden" name="XT" id="Token" value="@usuarioModel.Token" />
            <input type="hidden" name="cveEmp" id="cveEmp" value="@usuarioModel.Data[0].EmpS?[0].cveEmp" />
        </form>

        <br />
        <div class="row justify-content-start align-items-start">
            <div class="col-12">
                <div class="container table-responsive container-fluid">
                    <table class="table table-bordered table-sm ticket-porasigna-table" id="TabDatos">
                        <caption>@ViewData["Title"]</caption>
                        <thead>
                            <tr>
                                <th scope="col"># Ticket</th>
                                <th scope="col">Fecha de creación</th>
                                <th scope="col">Tipo Ticket</th>
                                <th scope="col">Falla</th>
                                <th scope="col">Asignar A</th>
                                <th scope="col"></th>
                                <th scope="col">Comentario</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var solicitude in Model.Solicitudes)
                            {
                                <tr>
                                    <form id="buscarForm" method="post" asp-controller="ControlReparaciones" asp-action="AsignacionTicket" asp-route-XT="@usuarioModel.Token" asp-route-cveEmp="@usuarioModel.Data[0].EmpS[0].cveEmp" asp-route-idsub="@usuarioModel.idsub" asp-route-ticket="@solicitude.NumTicket" asp-route-idsub="@usuarioModel.idsub">
                                    <td class="text-center">
                                        <p>@solicitude.NumTicket</p>
                                        <input type="hidden" value="@solicitude.NumTicket" id="NumTicket" name="NumTicket" />
                                    </td>
                                    <td class="text-center">
                                        <p>@solicitude.FechaEvento?.ToString("yyyy/MM/dd HH:mm")</p>
                                    </td>
                                    <td class="text-center">
                                        <p>@solicitude.TipoTicket</p>
                                    </td>
                                    <td class="text-center">
                                        <p>@solicitude.TipoFalla</p>
                                    </td>
                                    <td class="text-center">
                                        <select class="form-select selectTableUser" aria-label="Default select example" name="Asigna" id="SelectAsig">
                                            <option selected>[Selecciona]</option>
                                                @foreach (var user in Model.TBCAT_UserAsignaReparacion)
                                                {
                                                <option value="@user.idusuario">@user.nombre</option>
                                                }
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <button type="submit" id="asigna" class="btn btn-sm carga">
                                            <img src="~/imag/cheque.png" alt="Agregar" />
                                        </button>
                                    </td>
                                    @* <input type="hidden" name="pagina" value="@ViewBag.CurrentPage" /> *@
                                    <input type="hidden" name="Diesel" value="@Convert.ToInt16(@solicitude.Diesel)" />
                                    <input type="hidden" name="Grua" value="@Convert.ToInt16(@solicitude.Grua)" />
                                    </form>
                                    <td class="text-center">
                                        <p class="Observaciones">@solicitude.ObsOperacion</p>
                                    </td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-light btn-sm" id="mostrar" onclick="mostrar(@solicitude.NumTicket)">
                                            <img src="~/imag/mas.png" alt="Agregar" />
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="12">
                                        <div class="row">
                                            <div class="container ">
                                                <div id="datos-@solicitude.NumTicket" class="datos-bak">
                                                    @if (@solicitude.ClaveTipoClasificacion == 2)
                                                    {
                                                        <div class="row">
                                                            <div class="col-12 col-md-2">
                                                                <h6>Tipo Clasificacion: </h6>
                                                                <p>@solicitude.TipoClasificacion</p>
                                                            </div>
                                                            <div class="col-12 col-md-2">
                                                                <h6>DOT: </h6>
                                                                <p>@solicitude.DOT</p>
                                                            </div>
                                                            <div class="col-12 col-md-2">
                                                                <h6>MARCA: </h6>
                                                                <p>@solicitude.MARCA</p>
                                                            </div>
                                                            <div class="col-12 col-md-2">
                                                                <h6>MEDIDA: </h6>
                                                                <p>@solicitude.MEDIDA</p>
                                                            </div>
                                                            <div class="col-12 col-md-2">
                                                                <h6>POSICION: </h6>
                                                                <p>@solicitude.POSICION</p>
                                                            </div>
                                                            <div class="col-12 col-md-2">
                                                            </div>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="row">
                                                            <div class="col-12 col-md-2">
                                                                <h6>Tipo Clasificacion: </h6>
                                                                <p>@solicitude.TipoClasificacion</p>
                                                            </div>
                                                            <div class="col-12 col-md-10">
                                                            </div>
                                                        </div>
                                                    }
                                                    @if (@solicitude.ClaveTipoTicket == 1)
                                                    {
                                                        <div id="Tractor" class="row">
                                                            <div class="col-12 col-md-2">
                                                                <h6>Solicitante: </h6>
                                                                <p>@solicitude.UsuarioCreacion</p>
                                                            </div>
                                                            <div class="col-12 col-md-2">
                                                                <h6>Economico | Alias: </h6>
                                                                <p>@solicitude.Unidad | @solicitude.Alias</p>
                                                            </div>
                                                            <div class="col-12 col-md-2">
                                                                <h6>Tipo de Equipo:</h6>
                                                                <p>@solicitude.TipoEquipo</p>
                                                            </div>
                                                            <div class="col-12 col-md-3">
                                                                <h6>Ruta:</h6>
                                                                <p>@solicitude.NumRuta | @solicitude.Ruta</p>
                                                            </div>
                                                            <div class="col-12 col-md-2">
                                                                <h6>Tramo Carretero: </h6>
                                                                <p>@solicitude.TramoCarretero</p>
                                                            </div>
                                                        </div>
                                                    }
                                                    else if (@solicitude.ClaveTipoTicket == 3)
                                                    {
                                                        <div id="Dolly" class="row">
                                                            <div class="col-12 col-md-2">
                                                                <h6>Solicitante: </h6>
                                                                <p>@solicitude.UsuarioCreacion</p>
                                                            </div>
                                                            <div class="col-12 col-md-2">
                                                                <h6>Dolly: </h6>
                                                                <p>@solicitude.NumeroDolly</p>
                                                            </div>
                                                            <div class="col-12 col-md-2">
                                                                <h6>Tipo de Carga: </h6>
                                                                <p>@solicitude.TipoCarga</p>
                                                            </div>
                                                            <div class="col-12 col-md-2">
                                                                <h6>Tipo de Equipo:</h6>
                                                                <p>@solicitude.TipoEquipo</p>
                                                            </div>
                                                            <div class="col-12 col-md-2">
                                                                <h6>Ruta:</h6>
                                                                <p>@solicitude.NumRuta | @solicitude.Ruta</p>
                                                            </div>
                                                            <div class="col-12 col-md-2">
                                                                <h6>Tramo Carretero: </h6>
                                                                <p>@solicitude.TramoCarretero</p>
                                                            </div>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div id="Remolque" class="row">
                                                            <div class="col-12 col-md-2">
                                                                <h6>Solicitante: </h6>
                                                                <p>@solicitude.UsuarioCreacion</p>
                                                            </div>
                                                            <div class="col-12 col-md-2">
                                                                <h6>Remolque: </h6>
                                                                <p>@solicitude.Remolque</p>
                                                            </div>
                                                            <div class="col-12 col-md-2">
                                                                <h6>Tipo de Carga: </h6>
                                                                <p>@solicitude.TipoCarga</p>
                                                            </div>
                                                            <div class="col-12 col-md-2">
                                                                <h6>Tipo de Equipo:</h6>
                                                                <p>@solicitude.TipoEquipo</p>
                                                            </div>
                                                            <div class="col-12 col-md-2">
                                                                <h6>Ruta:</h6>
                                                                <p>@solicitude.NumRuta | @solicitude.Ruta</p>
                                                            </div>
                                                            <div class="col-12 col-md-2">
                                                                <h6>Tramo Carretero: </h6>
                                                                <p>@solicitude.TramoCarretero</p>
                                                            </div>
                                                        </div>
                                                    }
                                                    <div class="row">
                                                        <div class="col-12 col-md-2">
                                                            <h6>Operador:</h6>
                                                            <p>@solicitude.NumOp | @solicitude.Operador</p>
                                                        </div>
                                                        <div class="col-12 col-md-2">
                                                            <h6>Telefono Operador: </h6>
                                                            <p>@solicitude.Tel_Operador</p>
                                                        </div>
                                                        <div class="col-12 col-md-4">
                                                            <h6> Ubicacion Reportada: </h6>
                                                            <p>@solicitude.UbicacionReportada</p>
                                                        </div>
                                                        <div class="col-12 col-md-4">
                                                            <h6> Ultima Posicion Reportada GPS: </h6>
                                                            <p>@solicitude.FechaUltPosicion?.ToString("yyyy/MM/dd HH:mm:ss") | @solicitude.UltimaPosicionGps</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <h6>Diesel</h6>
                                                            <p>@solicitude.Diesel</p>
                                                        </div>
                                                        <div class="col-6">
                                                            <h6>Grua</h6>
                                                            <p>@solicitude.Grua</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div id="pagination" class="text-center"></div>
            </div>
        </div>
    </div>
</div>