@using ConectDB.Models;
@model ControlFalla;
@{
    string? title = ViewData["Title"] as string;
    Layout = "~/Views/Shared/_Layout_ControlReparaciones.cshtml";
    var usuarioModel = ViewData["UsuarioModel"] as UsuarioModel;

}
<div class="container-fluid">
    <br />
    <div class="row">
        <div class="col-md-2">
            <ul class="nav flex-column border tamancla">
                <li class="nav-item">
                    <a asp-action="Index" asp-controller="ControlReparaciones" asp-route-XT="@usuarioModel.Token" asp-route-cveEmp="@usuarioModel.Data[0].EmpS[0].cveEmp" asp-route-idsub="@usuarioModel.idsub" class="nav-link active seccion carga">Inicio</a>
                </li>
                <li class="nav-item">
                    <a asp-action="PorAsig" asp-controller="ControlReparaciones" asp-route-Token="@usuarioModel.Token" asp-route-cveEmp="@usuarioModel.Data[0].EmpS[0].cveEmp" asp-route-idsub="@usuarioModel.idsub" class="nav-link seccion carga">Por Asignar</a>
                </li>
                <li class="nav-item">
                    <a asp-action="Asignacion" asp-controller="ControlReparaciones" asp-route-Token="@usuarioModel.Token" asp-route-cveEmp="@usuarioModel.Data[0].EmpS[0].cveEmp" asp-route-idsub="@usuarioModel.idsub" class="nav-link seccion carga">Asignados</a>
                </li>
                <li class="nav-item">
                    <a asp-action="Repara" asp-controller="ControlReparaciones" asp-route-Token="@usuarioModel.Token" asp-route-cveEmp="@usuarioModel.Data[0].EmpS[0].cveEmp" asp-route-idsub="@usuarioModel.idsub" class="nav-link activo carga">En Reparación</a>
                </li>
                <li class="nav-item">
                    <a asp-action="Fin" asp-controller="ControlReparaciones" asp-route-Token="@usuarioModel.Token" asp-route-cveEmp="@usuarioModel.Data[0].EmpS[0].cveEmp" asp-route-idsub="@usuarioModel.idsub" class="nav-link seccion carga">Finalizado</a>
                </li>
                <li class="nav-item">
                    <a asp-action="Consul" asp-controller="ControlReparaciones" asp-route-Token="@usuarioModel.Token" asp-route-cveEmp="@usuarioModel.Data[0].EmpS[0].cveEmp" asp-route-idsub="@usuarioModel.idsub" class="nav-link seccion carga">Consulta</a>
                </li>
            </ul>
        </div>

        <div class="col-md-10">
            <div class="container">
                <br />
                <div class="row-cols-auto text-lg-start">
                    <h3>@ViewData["Title"]</h3>
                    <input type="hidden" value="@TempData["Mensaje"]" id="mensaje"></input>
                    <input type="hidden" value="@TempData["guardado"]" id="guarda"></input>
                    @* <input type="hidden" value="@TempData["ShowModal"]" id="showModal"></input> *@
                </div>
                <br />
                <form method="post" asp-controller="ControlReparaciones" asp-action="BuscarReparacion">
                    <div class="row justify-content-start align-items-start">
                        <div class="col-md-2">
                            <label for="FehTick" class="form-label">Fecha:</label>
                            <input type="text" class="form-control input-sm filtros" value="@Convert.ToDateTime(@TempData["FehTick"]).ToString("yyyy/MM/dd")" id="FehTick" name="FehTick" />
                        </div>
                        <div class="col-md-2">
                            <label for="TipTicket" class="form-label">Tipo de Ticket:</label>
                            <select class="form-select input-sm" aria-label="Default select example" id="TipTicket" name="TipTicket">
                                <option selected>[Selecciona]</option>
                                @foreach (var ticket in Model.TBCAT_TipoTicket)
                                {
                                    <option value="@ticket.ClaveTipoTicket">@ticket.Descripcion</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="ClaveTipoFalla" class="form-label">Tipo Falla:</label>
                            <select class="form-select input-sm" aria-label="Default select example" id="TipFalla" name="TipFalla">
                                <option selected>[Selecciona]</option>
                                @foreach (var falla in Model.TBCAT_TipoFalla)
                                {
                                    <option value="@falla.ClaveTipoFalla">@falla.Descripcion</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="NumTicket" class="form-label"># Ticket:</label>
                            <input type="number" class="form-control filtros" placeholder="# Ticket" id="NumTicket" name="NumTicket" />
                        </div>
                        <div class="col-md-2">
                            <br />
                            <button class="btn btn-primary carga" type="submit" id="btnBusFalReg">Buscar</button>
                        </div>
                    </div>
                    <input type="hidden" name="idsub" id="idsub" value="@usuarioModel.idsub" />
                    <input type="hidden" name="Token" id="Token" value="@usuarioModel.Token" />
                    <input type="hidden" name="cveEmp" id="cveEmp" value="@usuarioModel.Data[0].EmpS?[0].cveEmp" />
                </form>
                <br />
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive container-fluid">
                            <table class="table table-bordered table-sm ticket-reparacion-table">
                                <caption>@ViewData["Title"]</caption>
                                <thead>
                                    <tr>
                                        <th scope="col"># Ticket</th>
                                        <th scope="col">FechaCreacion</th>
                                        <th scope="col">Fecha Asignacion</th>
                                        <th scope="col">Tipo Ticket</th>
                                        <th scope="col">Falla</th>
                                        <th scope="col">Comentario</th>
                                        <th scope="col">Envio Reparación</th>
                                        <th scope="col">Tipo Apoyo</th>
                                        <th scope="col">Usuario Asignado</th>
                                        <th scope="col">Tiempo Estimado Reparacion</th>
                                        <th scope="col">Ordenes Mantenimiento</th>
                                        <th scope="col"></th>
                                        <th scope="col">Motivo de Reprogramación de tiempo estimado</th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var solicitude in Model.Solicitudes)
                                    {
                                        <tr id="renglon-@solicitude.NumTicket">
                                            <form id="form-@solicitude.NumTicket" method="post" asp-controller="ControlReparaciones" asp-action="AsigRepa">
                                            <td class="text-center">
                                                <p>@solicitude.NumTicket</p>
                                            </td>
                                            <td class="text-center">
                                                <p>@solicitude.FechaCreacion?.ToString("yyyy/MM/dd HH:mm:ss")</p>
                                            </td>
                                            <td class="text-center">
                                                <p>@solicitude.FechaAsignacion?.ToString("yyyy/MM/dd HH:mm:ss")</p>
                                            </td>
                                            <td class="text-center">
                                                <p>@solicitude.TipoTicket</p>
                                            </td>
                                            <td class="text-center">
                                                <p>@solicitude.TipoFalla</p>
                                            </td>
                                            <td class="text-center">
                                                <p clas="Observaciones">@solicitude.ObsOperacion</p>
                                            </td>
                                            <td class="text-center">
                                                <p>@solicitude.FechaEvento?.ToString("yyyy/MM/dd HH:mm:ss")</p>
                                            </td>
                                            <td class="text-center">
                                                <p>@solicitude.TipoApoyo</p>
                                            </td>
                                            <td class="text-center">
                                                <p>@solicitude.Usuario</p>
                                                <input value="@solicitude.TipoEquipo" type="hidden" id="TipoEquipo" name="TipoEquipo" />
                                            </td>
                                                @if (DateTime.Now >= @solicitude.FechaHoraVencimiento)
                                                {
                                                <td class="text-center">
                                                    <input type="text" class="form-control FechEstima" value="@solicitude.FechaHoraVencimiento?.ToString("yyyy/MM/dd HH:mm:ss")" id="FechEstima-@solicitude.NumTicket" name="FechEstima" onclick="cal(@solicitude.NumTicket)" />
                                                    <input type="hidden" class="form-control FechEstima" value="@solicitude.FechaHoraVencimiento?.ToString("yyyy/MM/dd HH:mm:ss")" id="FechEstima-@solicitude.NumTicket" name="FechEstimaComparar" />
                                                    <input type="hidden" value="false" id="AttPar-@solicitude.NumTicket" name="AttPar" />
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="ChekAttPar-@solicitude.NumTicket" name="ChekAttPar" checked="@solicitude.AtencionParcial" onclick="cambio('@solicitude.NumTicket')">
                                                        <label class="form-check-label" for="AttPar">
                                                            Atencion Parcial
                                                        </label>
                                                    </div>
                                                </td>
                                                <td class="text-start">
                                                    <div class="container-fluid">
                                                        <div class="row orderExist">
                                                                @foreach (var or in @solicitude.OrdenesMtto)
                                                                {
                                                                    @if (@or.OrdenMtto != 0) 
                                                                    {
                                                                    <p># Orden: @or.OrdenMtto</p>
                                                                    <p>Fecha Registro: @or.FechaRegistro?.ToString("yyyy/MM/dd HH:mm:ss")</p>
                                                                    }
                                                                }
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="container" style="background:red">
                                                        <p>Caduco</p>
                                                    </div>
                                                        @if (@solicitude.ClaveTipoApoyo == 14)
                                                        {
                                                        <button type="button" class="btn btn-default btn-sm d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#myModal" id="AgregarOrder" onclick="mostrarModalOrdenes('@usuarioModel.Data[0].EmpS[0].cveEmp','@solicitude.NumTicket','@solicitude.TipoEquipo','@usuarioModel.Data[0].idus')">
                                                            <img src="~/imag/plus-pequeno.png" alt="AgregarOrder" class="me-2" />
                                                            <span>Ord.Mtto</span>
                                                        </button>
                                                        }
                                                </td>
                                                <td class="text-center">
                                                    <textarea class="form-control ComeMotvAsig" aria-label="With textarea" id="ComeMotvAsig" name="ComeMotvAsig"></textarea>
                                                </td>
                                                <td class="text-center">
                                                    <button type="submit" id="asignarTicketBtn" class="btn btn-sm carga">
                                                        <img src="~/imag/cheque.png" alt="Agregar" />
                                                    </button>
                                                </td>
                                                }
                                                else
                                                {

                                                <td class="text-center">
                                                    <input type="text" class="form-control FechEstima" value="@solicitude.FechaHoraVencimiento?.ToString("yyyy/MM/dd HH:mm:ss")" id="FechEstima-@solicitude.NumTicket" name="FechEstima" onclick="cal(@solicitude.NumTicket)" />
                                                    <input type="hidden" class="form-control FechEstima" value="@solicitude.FechaHoraVencimiento?.ToString("yyyy/MM/dd HH:mm:ss")" id="FechEstima-@solicitude.NumTicket" name="FechEstimaComparar" />
                                                    <input type="hidden" value="false" id="AttPar-@solicitude.NumTicket" name="AttPar" />
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="ChekAttPar-@solicitude.NumTicket" name="ChekAttPar" checked="@solicitude.AtencionParcial" onclick="cambio('@solicitude.NumTicket')">
                                                        <label class="form-check-label" for="AttPar">
                                                            Atencion Parcial
                                                        </label>
                                                    </div>
                                                </td>
                                                <td class="text-start">
                                                    <div class="container-fluid">
                                                        <div class="row orderExist">
                                                                @foreach (var or in @solicitude.OrdenesMtto)
                                                                {
                                                                    @if (@or.OrdenMtto != 0)
                                                                    {
                                                                    <p># Orden: @or.OrdenMtto</p>
                                                                    <p>Fecha Registro: @or.FechaRegistro?.ToString("yyyy/MM/dd HH:mm:ss")</p>
                                                                    }
                                                                }
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="container" style="background:green;">
                                                        <p>Activo</p>
                                                    </div>
                                                        @if (@solicitude.ClaveTipoApoyo == 14)
                                                        {
                                                        <button type="button" class="btn btn-default btn-sm d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#myModal" id="AgregarOrder" onclick="mostrarModalOrdenes('@usuarioModel.Data[0].EmpS[0].cveEmp','@solicitude.NumTicket','@solicitude.TipoEquipo','@usuarioModel.Data[0].idus')">
                                                            <img src="~/imag/plus-pequeno.png" alt="AgregarOrder" class="me-2" />
                                                            <span>Ord.Mtto</span>
                                                        </button>
                                                        }
                                                </td>
                                                <td class="text-center">
                                                    <textarea class="form-control ComeMotvAsig" aria-label="With textarea" id="ComeMotvAsig" name="ComeMotvAsig"></textarea>
                                                </td>
                                                <td class="text-center">
                                                    <button type="submit" id="asignarTicketBtn" class="btn btn-sm carga">
                                                        <img src="~/imag/cheque.png" alt="Agregar" />
                                                    </button>
                                                </td>
                                                }
                                            <input type="hidden" value="@solicitude.NumTicket" id="NumTicket" name="NumTicket" />
                                            <input type="hidden" value="@usuarioModel.Token" id="Tok" name="Tok" />
                                            <input type="hidden" value="@usuarioModel.Data[0].EmpS[0].cveEmp" id="cveEmp" name="cveEmp" />
                                            <input type="hidden" value="@usuarioModel.idsub" id="idsub" name="idsub" />
                                            <input type="hidden" value="@solicitude.Diesel" id="Diesel" name="Diesel" />
                                            <input type="hidden" value="@solicitude.Grua" id="Grua" name="Grua" />
                                                @* <input type="hidden" value="@solicitude.ClaveTipoApoyo" id="ClaveTipoApoyo" name="ClaveTipoApoyo" /> *@
                                                @* <input type="hidden" value="@solicitude.TipoApoyo" id="TipoApoyo" name="TipoApoyo" /> *@
                                            </form>
                                            <td>
                                                <button type="button" class="btn btn-light btn-sm" id="mostrar" onclick="mostrar(@solicitude.NumTicket)">
                                                    <img src="~/imag/mas.png" alt="Agregar" />
                                                </button>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td colspan="15">
                                                <div class="row">
                                                    <div class="container">
                                                        <div id="datos-@solicitude.NumTicket" class="datos-bak">
                                                            @if (@solicitude.ClaveTipoClasificacion == 2)
                                                            {
                                                                <div class="row">
                                                                    <div class="col-12 col-md-2">
                                                                        <h6>Tipo Clasificacion: </h6>
                                                                        <p>@solicitude.TipoClasificacion</p>
                                                                    </div>
                                                                    <div class="col-12 col-md-2">
                                                                        <h6>DOT: </h6>
                                                                        <p>@solicitude.DOT</p>
                                                                    </div>
                                                                    <div class="col-12 col-md-2">
                                                                        <h6>MARCA: </h6>
                                                                        <p>@solicitude.MARCA</p>
                                                                    </div>
                                                                    <div class="col-12 col-md-2">
                                                                        <h6>MEDIDA: </h6>
                                                                        <p>@solicitude.MEDIDA</p>
                                                                    </div>
                                                                    <div class="col-12 col-md-2">
                                                                        <h6>POSICION: </h6>
                                                                        <p>@solicitude.POSICION</p>
                                                                    </div>
                                                                    <div class="col-12 col-md-2"></div>
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                <div class="row">
                                                                    <div class="col-12 col-md-2">
                                                                        <h6>Tipo Clasificacion: </h6>
                                                                        <p>@solicitude.TipoClasificacion</p>
                                                                    </div>
                                                                    <div class="col-12 col-md-10">
                                                                    </div>
                                                                </div>
                                                            }
                                                            @if (@solicitude.ClaveTipoTicket == 1)
                                                            {
                                                                <div id="Tractor" class="row">
                                                                    <div class="col-12 col-md-2">
                                                                        <h6>Solicitante: </h6>
                                                                        <p>@solicitude.UsuarioCreacion</p>
                                                                    </div>
                                                                    <div class="col-12 col-md-2">
                                                                        <h6>Economico | Alias: </h6>
                                                                        <p>@solicitude.Unidad | @solicitude.Alias</p>
                                                                    </div>
                                                                    <div class="col-12 col-md-2">
                                                                        <h6>Tipo de Equipo:</h6>
                                                                        <p>@solicitude.TipoEquipo</p>
                                                                    </div>
                                                                    <div class="col-12 col-md-3">
                                                                        <h6>Ruta:</h6>
                                                                        <p>@solicitude.NumRuta | @solicitude.Ruta</p>
                                                                    </div>
                                                                    <div class="col-12 col-md-2">
                                                                        <h6>Tramo Carretero: </h6>
                                                                        <p>@solicitude.TramoCarretero</p>
                                                                    </div>
                                                                </div>
                                                            }
                                                            else if (@solicitude.ClaveTipoTicket == 3)
                                                            {
                                                                <div id="Dolly" class="row">
                                                                    <div class="col-12 col-md-2">
                                                                        <h6>Solicitante: </h6>
                                                                        <p>@solicitude.UsuarioCreacion</p>
                                                                    </div>
                                                                    <div class="col-12 col-md-2">
                                                                        <h6>Dolly: </h6>
                                                                        <p>@solicitude.NumeroDolly</p>
                                                                    </div>
                                                                    <div class="col-12 col-md-2">
                                                                        <h6>Tipo de Carga: </h6>
                                                                        <p>@solicitude.TipoCarga</p>
                                                                    </div>
                                                                    <div class="col-12 col-md-2">
                                                                        <h6>Tipo de Equipo:</h6>
                                                                        <p>@solicitude.TipoEquipo</p>
                                                                    </div>
                                                                    <div class="col-12 col-md-2">
                                                                        <h6>Ruta:</h6>
                                                                        <p>@solicitude.NumRuta | @solicitude.Ruta</p>
                                                                    </div>
                                                                    <div class="col-12 col-md-2">
                                                                        <h6>Tramo Carretero: </h6>
                                                                        <p>@solicitude.TramoCarretero</p>
                                                                    </div>
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                <div id="Remolque" class="row">
                                                                    <div class="col-12 col-md-2">
                                                                        <h6>Solicitante: </h6>
                                                                        <p>@solicitude.UsuarioCreacion</p>
                                                                    </div>
                                                                    <div class="col-12 col-md-2">
                                                                        <h6>Remolque: </h6>
                                                                        <p>@solicitude.Remolque</p>
                                                                    </div>
                                                                    <div class="col-12 col-md-2">
                                                                        <h6>Tipo de Carga: </h6>
                                                                        <p>@solicitude.TipoCarga</p>
                                                                    </div>
                                                                    <div class="col-12 col-md-2">
                                                                        <h6>Tipo de Equipo:</h6>
                                                                        <p>@solicitude.TipoEquipo</p>
                                                                    </div>
                                                                    <div class="col-12 col-md-2">
                                                                        <h6>Ruta:</h6>
                                                                        <p>@solicitude.NumRuta | @solicitude.Ruta</p>
                                                                    </div>
                                                                    <div class="col-12 col-md-2">
                                                                        <h6>Tramo Carretero: </h6>
                                                                        <p>@solicitude.TramoCarretero</p>
                                                                    </div>
                                                                </div>
                                                            }
                                                            <div class="row">
                                                                <div class="col-12 col-md-2">
                                                                    <h6>Operador:</h6>
                                                                    <p>@solicitude.NumOp | @solicitude.Operador</p>
                                                                </div>
                                                                <div class="col-12 col-md-2">
                                                                    <h6>Telefono Operador: </h6>
                                                                    <p>@solicitude.Tel_Operador</p>
                                                                </div>
                                                                <div class="col-12 col-md-4">
                                                                    <h6> Ubicacion Reportada: </h6>
                                                                    <p>@solicitude.UbicacionReportada</p>
                                                                </div>
                                                                <div class="col-12 col-md-4">
                                                                    <h6> Ultima Posicion Reportada GPS: </h6>
                                                                    <p>@solicitude.FechaUltPosicion?.ToString("yyyy/MM/dd HH:mm:ss") | @solicitude.UltimaPosicionGps</p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-6">
                                                                    <h6>Diesel</h6>
                                                                    <p>@solicitude.Diesel</p>
                                                                </div>
                                                                <div class="col-6">
                                                                    <h6>Grua</h6>
                                                                    <p>@solicitude.Grua</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!--aqui tengo declarado el modal -->
                        <div class="modal" id="myModal">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalTitle">Relacion de Ordenes con Tikcet</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
                                                        <table class="table table-bordered table-hover table-sm table-info">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col"># Orden</th>
                                                                    <th scope="col">Proveedor</th>
                                                                    <th scope="col">Folio</th>
                                                                    <th scope="col">Costo</th>
                                                                    <th scope="col">Equipo</th>
                                                                    <th scope="col">Seleccionar</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="cuerpo">
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 justify-content-center align-content-center">
                                                    <h7 id="TpEqui">Tipo de Equipo: </h7>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary" id="btnGuarOrd" data-bs-dismiss="modal" onclick="GuardarOrden('@usuarioModel.Data[0].EmpS[0].cveEmp')">Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pagination">
                            @for (int i = 1; i <= ViewBag.TotalPages; i++)
                            {
                                <ul class="pagination pagination-sm">
                                    @if (ViewBag.CurrentPage == @i)
                                    {
                                        <li class="page-item active" aria-current="page">
                                            <span class="page-link">@i</span>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="page-item">
                                            <a class="page-link" href="BuscarReparacion?pagina=@i&k=si&Token=@usuarioModel.Token&cveEmp=@usuarioModel.Data[0].EmpS[0].cveEmp&Buscar=@TempData["Buscar"]&NumTicket=@TempData["NumTicket"]&ClaveTipoFalla=@TempData["ClaveTipoFalla"]&TipTicket=@TempData["TipTicket"]&FehTick=@Convert.ToDateTime(@TempData["FehTick"]).ToString("yyyy/MM/dd")&idsub=@usuarioModel.idsub">
                                                @i
                                            </a>
                                        </li>
                                    }
                                </ul>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
