@using ConectDB.Models;
@using System.Collections.Generic;
@model UsuarioModel;
@{
    ViewData["Title"] = "logeo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main role="main">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-sm-3 d-flex align-items-center justify-content-center">
                <br><br><br><br>
                @foreach (var Sis in Model.Data)
                {
                    if (Sis.EmpS == null)
                    {
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>Advertencia</strong> @Sis.message
                            <a asp-controller="Loging" asp-action="Index" class="btn-close"></a>
                        </div>
                    }
                    else
                    {
                        <form id="formAcceder" method="post" asp-action="Acceder" asp-controller="Loging">
                            <div class="card-body">
                                <h1 class="card-title text-white">Inicio de Sesión</h1>
                                <div class="form-group">
                                    <input type="text" class="form-control custom-input" placeholder="@Sis.nom" disabled>
                                </div>
                                <br>
                                <div class="form-group">
                                    <input type="password" class="form-control custom-input" autocomplete="off" placeholder="@Sis.message" disabled>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="selectEmpresa" class="form-label text-white">Selecciona la empresa:</label>
                                    <select id="selectEmpresa" name="CVEM" class="form-control CVEM" required>
                                        <option value="" selected>Selecione una Empresa</option>
                                        @foreach (var submod in Sis.EmpS)
                                        {
                                            <option value="@submod.cveEmp"> @submod.nomb </option>
                                        }
                                    </select>
                                    <input id="cveEmp" type="hidden" name="cveEmp" value="" />
                                    <input id="Tok" name="Tok" type="hidden" value="@Model.Token" />
                                </div>
                            </div>
                        </form>
                    }
                }
            </div>
            <br><br><br><br><br>
            <div class="col-sm-9">
                <img src="~/imag/baner_camiones_reco.png" class="img-fluid" alt="Bootstrap" align="right" width="85%" height="85%">
            </div>
        </div>
    </div>
</main>
